{% extends "layout.njk" %}

{% block head_content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/members/members_body.css">
    <link rel="stylesheet" href="/css/members/edit_member.css">
{% endblock head_content %}


{% block body_main_content %}
    <main>
        <div class="card">
            <div class="avatar">
                    <img src="{{member.avatar_url}}" alt="Imagem do Membro">
            </div>

            <div class="details">
                <form id="edit-form" method="POST" action="/members/edit_member?_method=PUT">
                    <h3>Editar Membro</h3>
                    
                    {% include "./includes/form_fields.njk" %}

                    <input
                        type="hidden"
                        name="id"
                        value="{{member.id}}"
                    >
                </form>

                <form id="delete-form" method="POST" action="/members/edit_member?_method=DELETE">
                    <input
                        type="hidden"
                        name="id"
                        value="{{member.id}}"
                    >

                    <button
                        class="tertiary-color-button form-button"
                        type="submit"
                    >
                    Deletar
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock body_main_content%}