<!-- Campos de Formulário Reutilizáveis Para Instrutores -->

<div class="item">
    <div>Avatar URL</div>
    <input type="url" name="avatar_url" placeholder="http://" required>
</div>
<div class="item">
    <div>Instrutor</div>
    <input type="text" name="name" placeholder="Digite seu nome" required>
</div>
<div class="item">
    <div>Data de Nascimento</div>
    <input type="date" name="birth" required>
</div>
<div class="item">
    <div>Sexo</div>
    <ul>
        <li><input type="radio" name="gender" value="M" checked>Masculino</li>
        <li><input type="radio" name="gender" value="F">Feminino</li>
    </ul>
</div>
<div class="item">
    <div>Área de Atuação</div>
    <input type="text" name="services" placeholder="Separe os serviços oferecidos por vírgula" required>
</div>
<button type="submit">Salvar</button>