/* Estilos Básicos do Corpo */

:root {
    --primary-color: darkorange;
    --secondary-color: #f7df1e;
    --tertiary-color: rgb(255, 0, 38);
}

body{
    width: 100vw;
    height: 100vh;
    color: rgba(255,255,255,.8);
    background-color: var(--primary-color);
    font-family: "Roboto", sans serif;
    font-size: 16px;
    line-height: 28px;
    overflow-x: hidden;
}

body h1{
    font-size: 240%;
    font-weight: bold;
    margin: .3em;
}

body h2{
    font-size: 180%;
    font-weight: bold;
    margin: .2em;
}

body h3{
    font-size: 130%;
    font-weight: bold;
}

body ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -khtml-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

body img{
    -webkit-tap-highlight-color: transparent;
    -khtml-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

body input{
    -webkit-tap-highlight-color: transparent;
    -khtml-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

body:focus{
    outline: none;
}

body input:focus{
    outline: none;
}

body button:focus{
    outline: none;
}


/* wrapper */

.wrapper{
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}