{% extends "layout.njk" %}

{% block head_content %}
    <title>Gym</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/edit_instructor.css">
{% endblock head_content %}


{% block body_main_content %}
    <main>
        <form class="card" method="POST" action="/instructors/new">
            <div class="avatar">
                
            </div>
            <div class="details">
                <h3>Editar Instrutor</h3>
                
                {% include "./includes/form_fields.njk" %}
            </div>
        </form>
    </main>
{% endblock body_main_content%}