{% extends "layout.njk" %}

{% block head_content %}
    <title>Gym</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/index.css">
{% endblock head_content %}


{% block body_main_content %}
    <main>
        <section class="card">
            <div class="avatar">
                
            </div>
            <div class="details">
                <h3>Detalhes</h3>
                <div class="item">
                    <div>Instrutor</div>
                    <div>Guilherme Saraiva</div>
                </div>
                <div class="item">
                    <div>Sexo</div>
                    <div>Masculino</div>
                </div>
                <div class="item">
                    <div>Idade</div>
                    <div>29</div>
                </div>
                <div class="item">
                    <div>Acompanhamento</div>
                    <ul>
                        <li>Musculação</li>
                        <li>Funcional</li>
                        <li>Crossfit</li>
                    </ul>
                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>01/01/2019</div>
                </div>
            </div>
        </section>
    </main>
{% endblock body_main_content%}