{% extends "layout.njk" %}

{% block head_content %}
    <title>Gym</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/menu.css">
{% endblock head_content %}