{% extends "layout.njk" %}

{% block head_content %}
    <title>Gym</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/selected_instructor.css">
{% endblock head_content %}


{% block body_main_content %}
    <main>
        <section class="card">
            <h1>Aqui será a lista de instrutores</h1>
        </section>
    </main>
{% endblock body_main_content%}